/*-------------
    Fonts
 -------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* ---------------
    Top-banner Style
--------------- */
.web-banner{
    display: flex;
    width: 1404px;
    height: 677px;
    background-color: #2D25A0;
}
.web-banner .banner-text h1{
    font-size: 64px;
    line-height: 80px;
    color: whitesmoke;
    padding-left: 156px;
    margin-top: 200px;
}
.web-banner button{
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    margin-left: 156px;
    background-color: #E02C6D;
}
button a{
    color: whitesmoke;
    text-decoration: none;
}
button:hover{
    transform: scale(1.1);
}
.banner-image img{
    width: 536px;
    height: 438px;
    padding-left: 102px;
    padding-right: 141px;
    margin-top: 153px;
}
.banner-image:hover{
    transform: scale(1.1);
}
/* ------------
   player-blog style
 -----------*/
.player-profile{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
     margin-top: 70px;
     margin-left: 180px;
     margin-right: 210px;
 }
.player-blog{
    width: 330px;
    height: 490px;
    box-shadow: 0px 0px 40px 0px rgba(216, 202, 202, 0.993);
}
.player-blog .player-image img{
    width: 300px;
    height: 256px;
    padding: 15px;
    padding-bottom: 0;
}
.text{
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    height: 154px;
}
.player-name{
    margin-top: 0;
    font-size: 26px;
}
.player-info{
    font-weight: 400;
    font-size: 16px;
}
/*------------
    Game-video
 ---------- */
.popular-videos{
    margin-top: 70px;
    margin-left: 140px;
    margin-right: 140px;
 }
.game-video{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 30px;
 }
/*------------------
     Footer
     ----------- */
footer{
    width: 100%;
    height: 170px;
    margin-top: 120px
}
.footer-box{
    position: relative;
    width: 484px;
    height: 200px;
    bottom: 63px;
    margin-left: 475px;
    margin-right: 481px;
}
.footer-box img{
    width: 481px;
    height: 110px;
}   
.footer-box a{
    width: 32px;
    height: 32px;
    margin-left: 14px;
    text-decoration: none;
}
.footer-logo{
    margin-left: 175px;
}
.footer-box p{
    text-align: center;
}
.fa{
    color: #969BAB;
}
/*----------------------
   Top-banner-Responsive
------------------ */
@media (max-width: 480px){
    .web-banner{
    display: block;
    width:  480px;
    height: 695px;
    color: #2D25A0;
    }
.web-banner .banner-text h1{
         width: 300px;
         padding-left: 20px;
         margin-top: 0;
         font-size: 32px;
     }
.web-banner button{
    position: absolute;
    top: 200px;
    width: 168px;
    height: 44px;
    margin-left: 80px;
    padding: 10px, 24px, 10px, 24px;
}
.banner-image img{
    width: 329px;
    height: 259px;
    margin-top: 150px;
    padding-left: 15px;
}
}

/* ---------------
   Player-blog-Responsive 
   ---------------*/
   @media (max-width: 480px) {
    .player-profile{
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0;
     margin-right: 0;
     margin-top: 20px;
 }
   }


/*---------------------
   Video-Responsive 
   ---------------*/
@media (max-width: 480px) {
    .popular-videos{
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
 }
    .game-video{
     grid-template-columns: repeat(1, 1fr);
 }
 iframe{
     width: 330px;

 }
}
/*-----------------
   Footer-Responsive
------------------- */
@media (max-width: 480px) {
    footer{
    width: 40%;
    height: 45px;
    margin-top: 30px
}
.footer-box{
    position: relative;
    width: 120px;
    height: 50px;
    bottom: 16px;
    margin-left: 115px;
    margin-right: 120px;
}
.footer-box img{
    width: 120px;
    height: 25px;
}
.footer-logo{
    margin-left: 0;
}
.footer-box a{
    width: 8px;
    height: 8px;
    margin-left: 12px;
}
}

